.popup {
    background: rgba(100, 100, 100, 0.6);
    position: fixed;
    display: none;
    z-index: 9999;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    .wrapper {
        max-width: 600px; // Max-width of popup can be changed
        width: 70%; // Width of popup
        position: fixed;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        background: #FFFFFF;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 2px 2px 10px 0px rgba(#000000, 0.4);
    }
}