.grid-container {
    display: grid;
    background-color: white;
    column-gap: 70px;
    top: 1.7rem;
    position: relative;
    width: 30.5rem;
    height: auto;
    z-index: +1;
}

.grid-item {
    display: inline-grid;
    width: 15rem;
    height: auto;
    padding: 6%;
}