.background {
    /*background: url("https://c0.wallpaperflare.com/preview/889/168/945/toys-frame-background-image-puzzle.jpg") no-repeat;*/
    /*background: url("https://s1.imagehub.cc/images/2022/09/05/pediroo.jpg") no-repeat;*/
    background: url("https://s1.imagehub.cc/images/2022/09/05/pediroo-notext.jpg") no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.title {
    font-size: 50px;
    text-align: center;
    padding-top: 150px;
}

.text {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

.button {
    padding-top: 40px;
}