.background {
    /*background: url("https://c0.wallpaperflare.com/preview/889/168/945/toys-frame-background-image-puzzle.jpg") no-repeat;*/
    /*background: url("https://s1.imagehub.cc/images/2022/09/05/pediroo.jpg") no-repeat;*/
    background: url("https://s1.imagehub.cc/images/2022/09/05/pediroo-notext.jpg") no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.title {
    font-size: 70px;
    text-align: center;
    padding-top: 150px;
}

.text {
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
}

.button {
    padding-top: 40px;
}

video {
    min-width: 50%;
    min-height: 50%;
    width: 100%;
    height: auto;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}