.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 0px 50px 0px 0px;
    color: white;
    text-align: center;
}

.username {
    color: white;
}

.ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
}